div#boxContainer {
        float:left;
        width:100%;
        position:relative;
        text-align:center;
}

    #centerFloats {
    	max-width: 600px;
        display:inline-block;
        text-align:left;
    }


a {
	color:inherit;
	text-decoration: none;
}

div.boxCon {
        background-color: #FFF;
        border-radius:5%;
        border:2px solid rgb(200, 200, 200);
        float:left;
        height:180px;
        margin:10px;
        position:relative;
        width:180px;
        display:inline-block;
        /* for the sake of making this examples media queries work better, use border-box */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s ease-in-out 0s;
   		-moz-transition: all 0.3s ease-	in-out 0s;
   		-ms-transition: all 0.3s ease-in-out 0s;
   		-o-transition: all 0.3s ease-in-out 0s;
    }



@media (max-width:900px){
    #centerFloats { width:600px; }
}
@media (max-width:660px){
    #centerFloats { width:400px; }
}
@media (max-width:460px){
    #centerFloats { width:200px; }
}

.boxCon:hover {
	border-color:rgb(130, 130, 130);
}

.box h1, .boxCon h1 {
	text-align: center;
	left:10px;
	position:absolute;
	font-variant:small-caps;
	color:black;
	font-size: 34px;
}

.box p, .boxCon p {
	top:43px;
	left:10px;
	position:absolute;
	text-align: left;
	color:rgb(0, 0, 0);
	padding-right:10px;
	font-size:14px;
}

.arrField{
	width: 800px;
	margin: auto;
	border: 2px solid rgb(130, 130, 130);
	border-radius:5px;
	border-top-left-radius:0px;
	background-color:white;
}

.arrLegend{
	background-color:white;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top:2px solid rgb(130, 130, 130);
	border-right:2px solid rgb(130, 130, 130);
	border-left:2px solid rgb(130, 130, 130);
	color:black;
	font-size:25px;
	padding:5px;
	position:relative;
	top:-19px;
	margin-bottom:-25px;
	left:-2px;
}

.arrField p{
	padding:20px;
	position:relative;
}

.arrBoks{
	width:95%;
	background-color: rgb(255, 255, 255);
	margin:auto;
	position:relative;
	border-radius:5px;
	border:solid;
	border-color:rgb(200, 200, 200);
	border-width:2px;
	margin: 30px 10px 0px 10px;
  	display:inline-block;
  	padding-top:15px;
  	padding-bottom:5px;
  	-webkit-transition: all 0.3s ease-in-out 0s;
   	-moz-transition: all 0.3s ease-	in-out 0s;
   	-ms-transition: all 0.3s ease-in-out 0s;
   	-o-transition: all 0.3s ease-in-out 0s;
}

.arrBoks:hover {
	border-color:rgb(130, 130, 130);
}

.arrBoks h1 {
	left:10px;
	margin-top:-8px;
	margin-bottom:0px;
	position:relative;
	font-variant:small-caps;
	color:black;
	font-size: 34px;
	text-decoration:none;
	font-weight:normal;
	text-align: left;
	word-break:break-all;
	padding-right:250px;
}

.arrBoks p {
	margin-bottom:0px;
	margin-top:-15px;
	left:10px;
	position:relative;
	text-align: left;
	color:rgb(0, 0, 0);
	padding-right:10px;
	font-size:14px;
	padding-right:250px;
	word-break:break-all;
}

.arrBoks h3{
	position:absolute;
	right:20px;
	top:9px;
	margin-top:0px;
	margin-bottom:0px;
	font-weight:normal;
}
