body {
	margin: 0;
}

form,input,select,textarea{margin:0; padding:0; color:#fff;}

.logo {
	position: absolute;
	left:80px;
	top: 10px;
	height: 80px;
	width: 80px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.Banner {
	position: relative;
	background-color: black;
	width: 100%;
	height: 120px;
}

.formholder > form {
	text-align:center;
	padding-top:20px;
	margin: auto;
	width:320px;
}

.LoggIn {
	color: red;
}

.formholder table {width:100%; text-align:left;}
.formholder input[type=submit] { width: 72px;}
.formholder input{ width: 100%; }
.formholder td { width: auto; }

legend {
	font-size: 22px;
}

.MenuBack {
	background-color: #242525;
	width: 100%;
	height: 34px;
	display: block;
	background:#1C1C1C;
	border-top:2px solid #262626;
	border-bottom:4px solid #161712;
}

.MenuFront {
	margin: auto;
	margin-top: -40px;
	width: 960px;
	height: 40px;
}

.MenuFront > table {
	border-collapse: collapse;
	width: 100%;
}

.MenuFront a, .btn  {
	color:#D0D0D0;
	display:inline-block;
	font-family: arial;
	font-size: 20px;
	padding-left: 10px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none;
}

.LogoutText {
	color:#D0D0D0;
}
.LogoutText:hover {
    color:#0B9CE7;
}

#valg:hover {color:#0B9CE7;}

.btn {
	margin-top: 3px;
	margin-right: 6px;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btn:hover {
    color:#0B9CE7;
}

th, td, tr {
    padding: 0;
}

.input_banner{
	width:150px;
	margin: 0 5px 0 5px;
	padding:6px;
	background:#262626;
	border-bottom: 1px double #171717;
	border-top: 1px double #171717;
	border-left:1px double #333;
	border-right:1px double #333;
}

*:focus {
	outline-color: #00A1F3;
}

.btn:focus {
    outline: 0;
}

/*new reg form*/
*{ margin:0; padding:0;}
body{ font:100% normal Arial, Helvetica, sans-serif; ;}
form,input,select,textarea{margin:0; padding:0; color:#fff;}

div.box{
margin:0 auto;
width:360px;
background:#222;
position:relative;
top:10px;
border:1px solid #262626;
}

div.box h1{
color:#FFF5CC;
font-size:18px;
text-transform:uppercase;
text-align: center;
padding:5px 0 5px 5px;
border-bottom:1px solid #161712;
border-top:1px solid #161712;
}

div.box label{
width:100%;
display: block;
background:#1C1C1C;
border-top:1px solid #262626;
border-bottom:1px solid #161712;
padding:10px 0 10px 0;
}

div.box label span{
display: block;
color:#bbb;
font-size:12px;
float:left;
width:80px;
text-align:right;
padding:12px 20px 0 0;
}

div.box .input_text{
padding:6px;
width:200px;
background:#262626;
margin: 8px 0 8px 0;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333;
border-right:1px double #333;
}

div.box .button
{
margin:0 0 10px 0;
padding:4px 7px;
background:#CC0000;
border:0px;
position: relative;
top:10px;
width:100px;
border-bottom: 1px double #660000;
border-top: 1px double #660000;
border-left:1px double #FF0033;
border-right:1px double #FF0033;
}


