body {
	margin: 0;
}

*:focus {
	outline-color: #00A1F3;
}

form,input,select,textarea{margin:0; padding:0; color:#fff;}

/* header styling */

.header-logo {
	position: absolute;
	left:80px;
	top: 10px;
	height: 80px;
	width: 80px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.header-top {
	position: relative;
	background-color: black;
	width: 100%;
	height: 120px;
}

.header-bot {
	background-color: #242525;
	width: 100%;
	height: 34px;
	display: block;
	background:#1C1C1C;
	border-top:2px solid #262626;
	border-bottom:4px solid #161712;
}

.header-menu {
	margin: auto;
	margin-top: -40px;
	width: 960px;
	height: 40px;
}

.header-menu > table {
	height: 40px;
	border-collapse: collapse;
	width: 100%;
}

.header_input{
	width:150px;
	margin: 0 5px 0 5px;
	padding:6px;
	background:#262626;
	border-bottom: 1px double #171717;
	border-top: 1px double #171717;
	border-left:1px double #333;
	border-right:1px double #333;
}

.header-menu a, #logg_in  {
	color:#D0D0D0;
	display:inline-block;
	font-family: arial;
	font-size: 20px;
	padding-left: 10px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none;
}

.valg:hover, #logg_in:hover {color:#0B9CE7;}

#logg_in {
	margin-top: 3px;
	margin-right: 6px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#logg_in:focus {
    outline: 0;
}

/* ------------------------------ */

.formholder > form {
	text-align:center;
}

/* register.php */
*{ margin:0; padding:0;}
body{ font:100% normal Arial, Helvetica, sans-serif; ;}
form,input,select,textarea{margin:0; padding:0; color:#fff;}

div.boxReg{
margin:0 auto;
width:360px;
background:#222;
position:relative;
top:5px;
border:1px solid #262626;
}

div.boxReg h1{
color:#FFF5CC;
font-size:18px;
text-transform:uppercase;
text-align: center;
padding:5px 0 5px 5px;
border-bottom:1px solid #161712;
border-top:1px solid #161712;
}

div.boxReg label{
width:100%;
display: block;
background:#1C1C1C;
border-top:1px solid #262626;
border-bottom:1px solid #161712;
padding:10px 0 10px 0;
}

div.boxReg label span{
display: block;
color:#bbb;
font-size:12px;
float:left;
width:80px;
text-align:right;
padding:12px 0 0 0;
}

div.boxReg .input_text{
padding:6px;
width:200px;
background:#262626;
margin: 4px 0 4px 0;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333;
border-right:1px double #333;
}

div.boxReg .button
{
margin:0 0 10px 0;
padding:4px 7px;
background:#CC0000;
border:0px;
position: relative;
top:10px;
width:100px;
border-bottom: 1px double #660000;
border-top: 1px double #660000;
border-left:1px double #FF0033;
border-right:1px double #FF0033;
}

/*--------------------------------*/
