body {
	margin: 0;
	background-color: #F1F1F1;
	font:100% normal Arial, Helvetica, sans-serif;
}

form,input,select,textarea{margin:0; padding:0; color:#fff;}

*{ margin:0; padding:0;}

*:focus {
	outline-color: #0B9CE7;
}

/* header styling */
.header-logo {
	position: absolute;
	left:80px;
	top: 20px;
	height: 80px;
	width: 160px;
}

.header-top {
	position: relative;
	background-color: black;
	width: 100%;
	height: 120px;
}

.header-bot {
	border-top: 1px solid #040404;
	border-bottom: 1px solid #040404;
    background-color: #111111;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    text-shadow: 0 1px 0 #111111;
    display: block;
	height: 38px;
}

.header-menu {
	margin: auto;
	margin-top: -40px;
	width: 960px;
	height: 40px;
}

.header-menu > table {
	height: 40px;
	border-collapse: collapse;
	width: 100%;
}

.header_input{
	width:150px;
	margin: 0 5px 0 5px;
	padding:6px;
	background:#262626;
	border-bottom: 1px double #171717;
	border-top: 1px double #171717;
	border-left:1px double #333;
	border-right:1px double #333;
}

.header-menu a, #logg_in {
	color:#D0D0D0;
	font-family: arial;
	font-size: 20px;
	padding-top: 0px;
	text-decoration: none;
}

#logg_in {
	margin-top: 3px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.valg:hover, #logg_in:hover {color:#0B9CE7;}

.valg, #logg_in, #brukernavn {
	padding: 0 5px 0 5px;
}

#logg_out {
	margin-right: 10px;
}

#logg_in:focus {
    outline: 0;
}

/* ------------------------------ */
/* register.php */

div.boxReg {
margin:0 auto;
width:360px;
background:#222;
position:relative;
top:5px;
border:1px solid #262626;
}

div.boxReg h1 {
color:#FFF5CC;
font-size:18px;
text-transform:uppercase;
text-align: center;
padding:5px 0 5px 5px;
border-bottom:1px solid #161712;
border-top:1px solid #161712;
}

div.boxReg label {
width:100%;
display: block;
background:#1C1C1C;
border-top:1px solid #262626;
border-bottom:1px solid #161712;
padding:10px 0 10px 0;
}

div.boxReg label span {
display: block;
color:#bbb;
font-size:12px;
float:left;
width:80px;
text-align:right;
padding:12px 0 0 0;
}

div.boxReg .input_text {
padding:6px;
width:200px;
background:#262626;
margin: 4px 0 4px 20px;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333;
border-right:1px double #333;
}

/*--------------------------------*/
/* nytt_utvalg.php */
#largeBoxReg .input_text {
	font-family: normal Arial, Helvetica, sans-serif;
	width:55%;
}

#largeBoxReg {
	width:900px;
}

#large_input_field {

	width: 50%;
}

#largeBoxReg label span {
display: block;
color:#bbb;
font-size:12px;
float:left;
width:140px;
text-align:left;
padding:12px 0 0 20px;
}

/*--------------------------------*/
/* buttons */

.button {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #d02718;
	padding:5px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	background:-ms-linear-gradient( top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f24537), color-stop(100%, #c62d1f) );
	background-color:#f24537;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #810e05;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #f5978e;
 	-moz-box-shadow:inset 1px 1px 0px 0px #f5978e;
 	box-shadow:inset 1px 1px 0px 0px #f5978e;
 	outline-color: transparent;
}

.button:hover {
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	background:-ms-linear-gradient( top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #c62d1f), color-stop(100%, #f24537) );
	background-color:#c62d1f;
}

.button:active {
	position:relative;
	top:1px;
}

pre {
	padding: 0 20px 0 20px;
	font-family: normal Arial, Helvetica, sans-serif;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}
